<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 21</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="header">
        <img src="img/logo.png" alt="Trivago Logo">
        <div>
            <a href="#">Favoritos</a>
            <a href="#">ES · $</a>
            <a href="#">Iniciar sesión</a>
            <a href="#">Menú</a>
        </div>
    </div>
    <div id="eslogan">
        <h1>Comparamos precios de hoteles de varios sitios</h1>
        <h2>Nosotros hacemos la búsqueda. Tú ahorras.</h2>
    </div>

    <div class="busqueda">
        <input type="text" placeholder="Destino">
        <input type="text" placeholder="Entrada">
        <input type="text" placeholder="Salida">
        <input type="text" placeholder="Huéspedes; habitaciones">
        <button>Buscar</button>
    </div>
    <div class="funciones">
        <div>
            <img src="img/edificios.png" alt="Icon 1">
            <p>Busca fácilmente</p>
        </div>
        <div>
            <img src="img/edificio.png" alt="Icon 2">
            <p>Compara con confianza</p>
        </div>
        <div>
            <img src="img/habitacion.png" alt="Icon 3">
            <p>Ahorra a lo grande</p>
        </div>
    </div>
</body>

</html>