body {
    font-family: Arial, sans-serif;
}

#navegacion{
    align-items: left;
    grid-column: 2/3;
}

.header {
    display: flex;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px;
    background-color: #fbfcfc;
}

#eslogan{
    background-color: #fbfcfc;
}

.socios{
    
}

.busqueda {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fbfcfc;
}

.busqueda input {
    margin-right: 10px;
}

#funciones {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}